.product-card {
  width: 22rem;
  box-shadow: 0.2rem 0.2rem 0.1rem #bada55;
}

.product-image {
  /* max-height: 300px; */
  width: 150px;
}

@media screen and (max-width: 375px) {
  .product-image {
    width: 120px;
    height: 6rem;
  }
  .product-card {
    width: 20rem;
    height: 20rem;
  }
  .product-card .add-to-cart-btn {
    position: relative;
    bottom: 0.25rem;
  }
}
